/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #81B29A;
  --secondary-color: #3D405B;
  --section-bg-color: #F4F1DE;
  --custom-btn-bg-color: #F2CC8F;
  --custom-btn-bg-hover-color: #E07A5F;
  --dark-color: #000000;
  --p-color: #181818;
  --link-hover-color: #F2CC8F;

  --body-font-family: 'DM Sans', sans-serif;

  --h1-font-size: 42px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 20px;
  --p-font-size: 18px;
  --menu-font-size: 16px;
  --btn-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
}


/*---------------------------------------
  TYPOGRAPHY
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SECTION
-----------------------------------------*/
.section-bg {
  background-color: var(--section-bg-color);
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-overlay {
  content: "";
  background: rgba(0, 0, 0, 0) linear-gradient(rgba(39, 48, 83, 0.01) 0%, rgb(39, 48, 83) 100%) repeat scroll 0% 0%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}


/*---------------------------------------
  ANIMATED HEADLINE
-----------------------------------------*/
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  color: var(--link-hover-color);
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.rotate-1 .cd-words-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
}

.cd-headline.rotate-1 b {
  opacity: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.cd-headline.rotate-1 b.is-visible {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-animation: cd-rotate-1-in 1.2s;
  -moz-animation: cd-rotate-1-in 1.2s;
  animation: cd-rotate-1-in 1.2s;
}

.cd-headline.rotate-1 b.is-hidden {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-animation: cd-rotate-1-out 1.2s;
  -moz-animation: cd-rotate-1-out 1.2s;
  animation: cd-rotate-1-out 1.2s;
}

@-webkit-keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: rotateX(120deg);
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(360deg);
    opacity: 1;
  }
}

@-moz-keyframes cd-rotate-1-in {
  0% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }

  35% {
    -moz-transform: rotateX(120deg);
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  100% {
    -moz-transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
    transform: rotateX(120deg);
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@-webkit-keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }

  35% {
    -webkit-transform: rotateX(-40deg);
    opacity: 1;
  }

  65% {
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(180deg);
    opacity: 0;
  }
}

@-moz-keyframes cd-rotate-1-out {
  0% {
    -moz-transform: rotateX(0deg);
    opacity: 1;
  }

  35% {
    -moz-transform: rotateX(-40deg);
    opacity: 1;
  }

  65% {
    opacity: 0;
  }

  100% {
    -moz-transform: rotateX(180deg);
    opacity: 0;
  }
}

@keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }

  35% {
    -webkit-transform: rotateX(-40deg);
    -moz-transform: rotateX(-40deg);
    -ms-transform: rotateX(-40deg);
    -o-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
    opacity: 1;
  }

  65% {
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
}


/*---------------------------------------
  CUSTOM BUTTON
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.custom-border-btn:hover {
  background: var(--custom-btn-bg-color);
  border-color: transparent;
  color: var(--white-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.custom-btn-group .link {
  color: var(--white-color);
  font-weight: var(--font-weight-medium);
}

.custom-btn-group .link:hover {
  color: var(--link-hover-color);
}


/*---------------------------------------
  NAVIGATION BAR & OFFCANVAS
-----------------------------------------*/
.offcanvas {
  background-color: var(--primary-color);
  padding: 30px;
}

.offcanvas.offcanvas-end {
  border-left: 0;
}

.offcanvas-header .btn-close {
  transition: all 0.3s;
}

.offcanvas-header .btn-close:hover {
  transform: rotate(180deg);
}

.offcanvas svg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper.is-sticky .navbar {
  background-color: rgb(61 64 91);
}

.navbar>.container {
  background-color: rgb(61 64 91);
  max-width: 100%;
}

.navbar {
  background-color: rgb(61 64 91);
  z-index: 99;
  height: 80px;

}

.navbar-brand,
.navbar-brand:hover {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
  display: block;
  color: var(--dark-color);
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: var(--white-color);
}

.navbar-brand-image {
  width: 130px;
  position: absolute;
  top: 5px;
}

.navbar-brand-text {
  visibility: hidden;
}

.navbar-brand-text small {
  display: block;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--link-hover-color);
}

.navbar .dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  top: -10px;
  left: 10px;
}

.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
  background: transparent;
  color: var(--link-hover-color);
}

.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--copyright-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}
#navbarNav {
  margin-top: 5rem;
}
@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
  #navbarNav {
    margin-top: 0rem;
  }

}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
  HERO
-----------------------------------------*/
.spacer {
  min-height: 70px;
}

.hero-section {
  background-image: url('../images/capa2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -40px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 60vh;
  min-height: 500px;
}
@media (max-width: 768px) {
  .hero-section {
    height: 40vh;
    min-height: 300px;
}
}

.hero-50 {
  height: auto;
  min-height: 540px;
  margin-bottom: -100px;
}

.hero-50 .container+svg {
  transform: rotate(180deg);
}

.hero-section .ratio {
  border-radius: var(--border-radius-medium);
  overflow: hidden;
}

.hero-section svg {
  position: absolute;
  right: 0;
  left: 0;
}

.hero-section>svg {
  top: 0;
}

.hero-section .container+svg {
  top: auto;
  bottom: -1px;
}

.hero-section .row {
  position: relative;
  z-index: 22;
}


/*---------------------------------------
  BACKGROUND IMAGE SECTION
-----------------------------------------*/
.section-bg-image {
  background-color: #d05557;
  position: relative;
  margin-bottom: -70px;
}

.section-bg-image .container+svg {
  transform: rotate(180deg);
  position: relative;
  bottom: -1px;
}

.section-bg-image-block {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: var(--border-radius-medium);
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 50px;
}

.section-bg-image-block .input-group {
  background-color: var(--white-color);
  border-radius: var(--border-radius-large);
  padding: 10px 15px;
}

.section-bg-image-block .input-group-text {
  background-color: transparent;
  border: 0;
}

.section-bg-image-block input[type="email"] {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
}

.section-bg-image-block button[type="submit"] {
  background-color: var(--primary-color);
  border: 0;
  border-radius: var(--border-radius-large) !important;
  color: var(--white-color);
  max-width: 150px;
}


.svg-divider {
  position: relative;
  width: 100%;
  height: auto;
}

.svg-divider img {
  position: absolute;
  top: -15px;
  width: 100%;
  height: auto;
}

/*---------------------------------------
  ABOUT SECTOIN
-----------------------------------------*/
.about-section {
  padding-bottom: 70px;
  position: relative;
}

.member-block-image-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  height: 400px;
}

.member-block-image-wrap:hover .member-block-image {
  transform: scale(1.2);
}

.member-block-image-wrap:hover .social-icon {
  opacity: 1;
}

.member-block-image-wrap .social-icon {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-block-image-wrap .social-icon p{
  font-size: 15px;
}

.member-block-image {
  transition: all 0.3s;
  object-fit: cover;
  height: 100%;
}

.member-block-info {
  padding: 10px;
}

.member-block-info h4,
.member-block-info p {
  margin-bottom: 0;
}


/*---------------------------------------
  CUSTOM BLOCK
-----------------------------------------*/
.custom-block {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px 20px;
}

.custom-block-bg {
  background: var(--white-color);
}

.custom-block-date-wrap {
  background-color: var(--primary-color);
  border-radius: var(--border-radius-medium);
  text-align: center;
  padding: 20px 30px;
}

.streaming{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.streaming a {
  display: flex;
  flex: 1 1 25%;
}
.streaming a img {
  max-width: 120px;
}

.custom-block-image-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.custom-block-image-wrap:hover .custom-block-image {
  transform: scale(1.2);
}

.custom-block-image-wrap:hover .custom-block-icon {
  opacity: 1;
}

.custom-block-image {
  transition: all 0.3s;
}

.custom-block-image-wrap .custom-block-date-wrap,
.custom-block-image-wrap .custom-btn-wrap {
  position: absolute;
  bottom: 0;
}

.custom-block-image-wrap .custom-block-date-wrap {
  border-radius: 0;
  left: 0;
  width: 50%;
  padding: 12.30px 20px;
}

.custom-block-image-wrap .custom-btn-wrap {
  right: 0;
  width: 50%;
}

.custom-block-image-wrap .custom-btn {
  border-radius: 0;
  display: block;
  padding: 15px 20px;
}

.custom-block-info {
  padding-top: 10px;
}

.custom-block-image-wrap+.custom-block-info {
  padding-top: 20px;
}

.custom-block-span {
  color: var(--secondary-color);
  font-weight: var(--font-weight-bold);
  min-width: 110px;
  margin-right: 10px;
}

.custom-block-icon {
  background: var(--custom-btn-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: var(--h3-font-size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s;
}

.custom-block-icon:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}


/*---------------------------------------
  EVENTS SECTION
-----------------------------------------*/
.events-section.section-bg .container>.row {
  margin-right: 5px;
  margin-left: 5px;
}

.events-section.section-bg .container>.row .row {
  margin: auto;
}

.events-listing-section {
  margin-bottom: 100px;
}

.events-detail-section .custom-block-info {
  padding: 40px 60px;
}

.events-detail-info {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-medium);
  padding: 50px 25px;
}

.events-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-medium);
}


/*---------------------------------------
  MEMBERSHIP SECTION
-----------------------------------------*/
.membership-section .container {
  position: relative;
  z-index: 2;
}

.table-responsive {
  border-radius: var(--border-radius-medium);
}

.table-responsive tbody,
.table-responsive td,
.table-responsive tfoot,
.table-responsive th,
.table-responsive thead,
.table-responsive tr {
  border: 0;
}

.table-responsive thead tr {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.table-responsive thead th {
  padding: 22px 16px !important;
}

.table-responsive tbody tr:nth-child(even) {
  background-color: var(--section-bg-color);
}

.table>:not(caption)>*>* {
  padding: 18px 16px;
}

.table-responsive .bi-check-circle-fill {
  color: var(--primary-color);
}

.table-responsive .bi-x-circle-fill {
  color: var(--custom-btn-bg-hover-color);
}

.membership-form {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  padding: 35px;
}

.membership-form .form-floating>textarea {
  border-radius: var(--border-radius-medium);
  height: 100px;
}


/*---------------------------------------
  CONTACT
-----------------------------------------*/
.contact-form .form-floating>textarea {
  border-radius: var(--border-radius-medium);
  height: 120px;
}

.contact-info {
  position: relative;
}

.contact-info-item {
  background: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-info-body {
  padding: 20px 30px;
}

.contact-info-body strong,
.contact-info-item a {
  color: var(--white-color);
}

.contact-info-footer {
  background-color: var(--custom-btn-bg-hover-color);
  padding: 10px 20px;
  transition: all 0.3s;
}

.contact-info-footer:hover {
  background-color: var(--custom-btn-bg-color);
}

.contact-info-footer a {
  display: block;
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SITE FOOTER
-----------------------------------------*/
.site-footer {
  position: relative;
  padding-bottom: 200px;
}

.site-footer .container {
  position: relative;
  z-index: 2;
}

.site-footer svg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.site-footer-title {
  color: var(--secondary-color);
}

.site-footer p span {
  font-weight: var(--font-weight-medium);
  margin-right: auto;
}


/*---------------------------------------
  CUSTOM FORM
-----------------------------------------*/
.custom-form .form-control {
  border-radius: var(--border-radius-large);
  border-width: 2px;
  box-shadow: none;
  color: var(--p-color);
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  outline: none;
}

.custom-form .form-control:focus,
.custom-form .form-control:hover {
  border-color: var(--dark-color);
}

.form-floating>label {
  padding-left: 20px;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
  padding-left: 10px;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

.header-form {
  position: relative;
}

.header-form .form-control {
  padding-left: 42px;
}

.header-form-icon {
  width: 24px;
  position: absolute;
  top: 0;
  margin: 12px;
  margin-left: 15px;
}


/*---------------------------------------
  SOCIAL ICON
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}


/*---------------------------------------
  RESPONSIVE STYLES
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .navbar {
    background-color: var(--secondary-color);
  }

  .navbar-nav .dropdown-menu {
    position: relative;
    left: 10px;
    opacity: 1;
    pointer-events: auto;
    max-width: 155px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .navbar-expand-lg .navbar-nav {
    padding-top: 6rem;
    padding-bottom: 10px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 5px;
    padding: 0;
  }

  .hero-section {
    position: relative;
    margin-bottom: 9px;
  }

  .events-listing-section {
    margin-bottom: 50px;
  }

  .events-detail-section .custom-block-info {
    padding: 40px;
  }

  .events-detail-info {
    padding: 35px 25px;
  }

  .contact-info-item {
    width: 60%;
  }

  .events-detail-section .contact-info-item {
    width: 70%;
  }

  .section-bg-image {
    margin-bottom: 0;
  }

  .section-bg-image-block {
    padding: 30px;
  }

  .site-footer {
    padding-top: 20px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 480px) {
  .navbar-brand {
    font-size: var(--p-font-size);
  }

  .navbar-brand-icon {
    width: 30px;
    height: 30px;
  }

  .navbar-brand-icon::after {
    top: 5px;
  }

  .section-bg-image-block {
    padding: 30px;
  }

  .contact-info-item {
    width: 72%;
  }
}

@media screen and (max-width: 360px) {
  .custom-btn {
    font-size: 12px;
    padding: 4px 12px;
  }
}


/* CUSTOM */
h2.title {
  font-family: 'Titan One', cursive;
  font-size: 3rem;
  font-weight: 300;
}
@media (max-width: 991px) {
  h2.title {
    font-size: 2rem;
    text-align: center
  }
}



/* TV */

:root {
  --television-width: 430px;
  --television-height: 420px;
  --television-bgcolor: #b71a11;
  --television-bgcolor-dark: #88110b;
  --antenna-gradient: linear-gradient(to top, #444 10%, #999 25% 40%, #444 70%, #2224 90%);
}

.tv {
  width: var(--television-width);
  height: var(--television-height);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv .antenna-container {
  width: 235px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tv .antenna-container .antenna {
  width: 100%;
  height: 4px;
  background: var(--antenna-gradient);
  transform-origin: 100% 50%;
  transform: rotate(20deg) translateY(3px);
  z-index: 0;
  display: flex;
  align-items: center;
}

.tv .antenna-container .antenna::before {
  content: "";
  display: block;
  width: 8px;
  height: 10px;
  background: var(--antenna-gradient);
  border-radius: 24% 53% 53% 24% / 36% 40% 40% 36%;
  border: 1px solid #444;
  border-left: 0;
  border-bottom: 0;
  transform: translateY(-1px);
}

.tv .television-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.tv .television-container .television {
  width: 425px;
  height: 300px;
  border-radius: 35px / 45px;
  box-shadow:
    2px 2px 5px #0004,
    2px -2px 2px darkred inset,
    2px 1px 1px #fff inset,
    0 0 3px 5px #0002;
  background: var(--television-bgcolor);
  background: linear-gradient(var(--television-bgcolor), var(--television-bgcolor-dark));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.tv .television-container .television .television-inner {
  width: 93%;
  height: 90%;
  background: linear-gradient(to bottom, #454c45 5%, #232522 35% 45%);
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 2px #470404 inset;
  border-radius: 25px / 25px;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.8fr;
  align-content: center;
  gap: 3px;
}

.tv .television-container .television .television-inner .television-screen-container {
  border: 1px solid #222;
  box-shadow:
    0 2px 2px #888,
    2px 0 2px #444,
    -2px 0 2px #444,
    0 -2px 2px #111;
  border-radius: 35px / 25px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(70deg, #555 15%, transparent 30%),
    repeating-conic-gradient(#222 0 30deg, #333 60deg, #222 90deg);
}

.tv .television-container .television .television-inner .television-screen-container .television-crt {
  width: 99%;
  height: 95%;
  background: #111;
  box-shadow:
    0 0 5px 2px #111,
    0 0 10px 2px #1112;
  border-radius: 85px 85px 85px 85px / 100px 100px 100px 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv .television-container .television .television-inner .television-screen-container .television-crt .television-screen {
  background: #302d30;
  width: 95%;
  height: 95%;
  border-radius: 30%;
  box-shadow: 0 0 5px 2px #111 inset;
  overflow: hidden;
  position: relative;
}

.tv .television-container .television .television-inner .television-screen-container .television-crt .television-screen .noise {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(to bottom, transparent, #aaa4, #8881, #6664, #4445, #2228, #4443, transparent),
    repeating-linear-gradient(transparent 0 2px, #25242950 2px 4px);
  -webkit-animation: moveBand 8s linear infinite;
  animation: moveBand 8s linear infinite;
  z-index: 4;
  position: relative;
}

.tv .television-container .television .television-inner .television-screen-container .television-crt .television-screen .off {
  width: 100%;
  height: 100%;
  background: radial-gradient(#222, #1a1a1a, #111);
  z-index: 5;
  position: absolute;
  top: 0;
}

.tv .television-container .television .television-inner .television-screen-container .television-crt .television-screen .logo-container {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv .television-container .television .television-inner .television-screen-container .television-crt .television-screen .logo-container .logo {
  background: #f34b59;
  width: 45px;
  height: 32px;
  border-radius: 8px;
  margin-right: 5px;
  display: grid;
  place-items: center;
}

.tv .television-container .television .television-inner .television-screen-container .television-crt .television-screen .logo-container .logo .play {
  width: 15px;
  height: 15px;
  background: #fff;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.tv .television-container .television .television-inner .television-screen-container .television-crt .television-screen .logo-container .text {
  font-family: "Heading Pro", sans-serif;
  font-size: 42px;
  color: white;
  letter-spacing: -1px;
}

.tv .television-container .television .television-inner .television-lateral {
  display: grid;
  grid-template-rows: 1.1fr 1fr;
  gap: 12px;
  margin: 15px;
  margin-left: 0;
}

.tv .television-container .television .television-inner .television-lateral .dial-container {
  border: 2px solid #333;
  border-left: 1px solid #444;
  border-bottom: 2px solid #444;
  border-radius: 5px;
  box-shadow:
    -2px 2px 6px #111 inset,
    -1px 2px 3px #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  align-items: center;
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial {
  width: 42px;
  height: 42px;
  border: 2px solid #6e706f;
  border-radius: 50%;
  box-shadow:
    -4px 2px 4px #111,
    0 0 1px 2px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data {
  color: #888;
  font-size: 6px;
  text-shadow: 0 0 2px #888;
  position: absolute;
  top: 0;
  height: 100%;
  transform-origin: 50% 50%;
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(2) {
  transform: rotate(30deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(3) {
  transform: rotate(60deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(4) {
  transform: rotate(90deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(5) {
  transform: rotate(120deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(6) {
  transform: rotate(150deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(7) {
  transform: rotate(180deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(8) {
  transform: rotate(210deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(9) {
  transform: rotate(240deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(10) {
  transform: rotate(270deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(11) {
  transform: rotate(300deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .data-container .data:nth-child(12) {
  transform: rotate(330deg);
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .dial-core {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: conic-gradient(#eee 0deg 45deg, #666 70deg 285deg, #eee 320deg);
  position: absolute;
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial .selector {
  position: absolute;
  width: 75%;
  background: linear-gradient(#666 30%, #aaa 40%);
  height: 4px;
  border: 1px solid #666;
  border-radius: 4px / 8px;
  transform: rotate(calc(var(--value) - 90deg));
  transition: transform 0.25s linear;
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial.channel-button {
  background: #000;
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial.volume-button {
  background: #ccc;
}

.tv .television-container .television .television-inner .television-lateral .dial-container .dial.volume-button .data {
  color: #444;
}

.tv .television-container .television .television-inner .television-lateral .speaker-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px 0;
  margin-bottom: 12px;
  margin-left: 2px;
  margin-right: 2px;
}

.tv .television-container .television .television-inner .television-lateral .speaker-container div {
  width: 10px;
  height: 10px;
  background: radial-gradient(#000, #222);
  border-radius: 50%;
  border-bottom: 1px solid #fff;
}

.tv .television-container .television .television-inner .buttons {
  position: absolute;
  bottom: 5px;
  right: 30px;
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.tv .television-container .television .television-inner .buttons .button-container {
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #fff 40%, #aaa 50% 55%, #666 70%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv .television-container .television .television-inner .buttons .button-container .button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(to top, #fff 40%, #aaa 50% 55%, #666 70%);
  box-shadow: -1px -1px 1px 2px #000;
  transform: translate(2px, 1px);
  transition:
    transform 0.1s,
    box-shadow 0.1s;
  cursor: pointer;
}

.tv .television-container .television .television-inner .buttons .button-container .button:active {
  transform: translate(0, 0);
  box-shadow: 0 0 1px 2px #000;
}

.tv .television-container .television-base {
  width: 350px;
  height: 25px;
  background: linear-gradient(var(--television-bgcolor), var(--television-bgcolor-dark));
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 4px #0009;
}

.tv .television-container .television-base::before,
.tv .television-container .television-base::after {
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  background-color: var(--television-bgcolor);
  background-image: linear-gradient(var(--television-bgcolor), var(--television-bgcolor-dark));
  transform: translateX(var(--x)) skewX(var(--skew-x));
}

.tv .television-container .television-base::before {
  --skew-x: 10deg;
  --x: -2px;
}

.tv .television-container .television-base::after {
  --skew-x: -10deg;
  --x: 2px;
}

.tv .television-container .television-base .slots {
  width: 50%;
  height: 15px;
  display: flex;
  justify-content: center;
}

.tv .television-container .television-base .slots .slot {
  width: 4px;
  height: 100%;
  background: #0b0000;
  margin-left: 3px;
  border-radius: 2px / 1px;
}

.tv .television-container .foot-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.tv .television-container .foot-container .foot {
  width: 20px;
  height: 10px;
  background: var(--television-bgcolor);
}

.tv .television-container .foot-container .foot.left {
  box-shadow: 4px 0 #850101;
}

.tv .television-container .foot-container .foot.right {
  box-shadow: -4px 0 #850101;
}

.tv{
  display: block;
}
.youtube-video{
  display: none;
}
@media (max-width: 991px)  {
  .tv{
    display: none;
  }
  .youtube-video{
    display: block;
  }

}

.contact-image{

  max-height: 500px;
  object-fit: contain;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}
